<div class="allSides">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
        </div>
        <div class="col-md-auto">
          <img src="assets/images/createAddGroup.jpg" width="300px" height="300px"/>
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
        </div>
        <div class="col-md-auto">
          Nagendra
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <span>Add Room Key</span>
          </div>
        <div class="col col-lg-2">
            <input type="textbox" class="form-control" />
        </div>
    </div>
</div>