<div class="allSides">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
        </div>
        <div class="col-md-auto">
          <img src="assets/images/createAddGroup.jpg" width="300px" height="300px"/>
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
        </div>
        <div class="col-md-auto">
          Nagendra
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
        </div>
        <div class="col-md-auto">
            <button type="button" class="btn btn-primary">Create Room</button> 
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
        </div>
        <div class="col-md-auto">
          <span>Share this Key: 234t5</span>
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
</div>