
<div class="allSides">
    <fieldset>
        <h3 style="text-align: center;">Profile Details:</h3>
        <div class="container" style="padding:5%">
            <div class="row justify-content-md-center" style="padding:10px">
                <div class="col col-lg-3">
                    Change Profile Picture
                </div>
                <div class="col col-lg-3">
                    change
                </div>
            </div>
            <div class="row justify-content-md-center" style="padding:10px">
                <div class="col col-lg-3">
                    Change Profile Name
                </div>
                <div class="col col-lg-3">
                    <input type="textbox" class="form-control" />
                </div>
            </div>
            <div class="row justify-content-md-center" style="padding:10px">
                <div class="col col-lg-3">
                </div>
                <div class="col col-lg-3">
                    <input type="button" class="form-control btn btn-success" value="Save" />
                </div>
            </div>
        </div>

</fieldset>
</div>